/* border-box */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit;}


/* clearfix */
.group:before,
.group:after { content: " "; display: table; }
.group:after { clear: both; }

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0D0D0D;
    border-radius: 10px;
}


body {
    margin: 0;
    max-width: 100%;
    padding: 0;
    background: #F2E96D;
    color: #f2f2f2;
}

/*header a menu*/
.site-header {
    max-width: 100%;
    margin: 0 auto;
    padding: .650em;
    background: #222326;
    border-bottom: 3px solid #1DCBF2;
}
.site-title {
    color: #F244C4;
    text-align: center;
    font-family: 'Aclonica',sans-serif;

}
h1 {
    text-shadow: 2px 2px #1DCBF2;

}

a {
    text-decoration: none;
}

strong {
    font-weight: 600;
}

.menu {
    list-style: none;
    padding-left: 0;
    margin: 0;
    text-align: right;

}
.menu li {
    display: inline-block;
}

.fa {
    vertical-align: middle;
}

.social {
    margin: 0;
}

.social .fa {
    font-size: 1.0625em /* 17/16 */
}

.social-icon {
    display: block;
    width: 3.36em;
    height: 3.36em;
    line-height: 3.3em;

    color: #989898;
    background: #eeefed;
    text-align: center;

    border-radius: 0.15em;
    margin-left: 0.15em;
}

.social-icon:hover,
.social-icon:focus {
    color: #fff;
    background: #5bd0ec;
}

/*main - gallery*/
article {
    margin-top: 5em;
}

.thumbnail {
    /*max-width: 100%;*/
    width: 12.5em;
    /*max-height: 100%;*/
    cursor: grab;
    height: 12.5em;
    object-fit: cover;
    border: 1px solid #ABABAB;
    border-radius: 0.5em;
    padding: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,4);

    margin: .85em;
}


/* Add a hover effect (blue shadow) */
img:hover {
    box-shadow: 0 0 2px 1px #0D0D0D;
}


.searchInput {
    text-align: center;
    margin-bottom: 1.5em;
}

label i {
    font-size: 1.7em;
    color: #222326;
}

#myInput {
    width: 30em;
    background: #1A0F26;
    color: #F2E96D;
    font-size: 1em;
    font-family: "Gloria Hallelujah",cursive;
    border: 4px solid #05F2F2;

}



/*footer*/

footer {
    max-width: 100%;
    max-height: 100%;
    background: #222326;
    font-family: "Gloria Hallelujah",cursive;
    text-shadow: 1px 1px yellow;
    color: #05F2F2;
    text-align: center;
    margin: 220px auto 0 auto;
    padding: 1em;
    font-size: 1.4em;
}

/*modal*/

#fade {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    align-items: center;
    justify-content: center;
}

.fadeModal {
    padding: 7em;
    z-index: 20;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #21E6ED),
            color-stop(1, #F7F79E)
    );
    background-repeat: no-repeat;
    border-radius: 3px;
    position: fixed;
    box-shadow: 3px 3px 5px #202020;

}

.fadeModal > img {
    border-radius: 0.5em;
    padding: 3px;
    box-shadow: 0 4px 8px 0 #F244C4;
}

.fadeModal  > img:hover {
    box-shadow: 0 0 2px 1px #222326;
}


#x-ko,
#left-arrow,
#right-arrow,
#play-btn,
#stop-btn {
    z-index: 20;
    position: absolute;
    color: #222326;
    font-size: 2em;
}

#x-ko {
    top: 2%;
    left: 1%;
}


#left-arrow {
    top: 50%;
    left: 1%;
}
#right-arrow {
    top: 50%;
    right: 1%;
}

#play-btn {
    top: 2%;
    right: 10%;
}

#stop-btn {
    top: 2%;
    right: 3%;
}

#x-ko:hover,
#left-arrow:hover,
#right-arrow:hover,
#play-btn:hover,
#stop-btn:hover {
    cursor: pointer;
    color: red;
}


#title-img,
#description-img {
    z-index: 20;
    position: absolute;
    color: #222326;
    font-size: 1.5em;
    font-family: "Gloria Hallelujah",cursive;
}
#description-img {
    bottom: 5%;
    font-size: .85em;
}
#title-img {
    top: 5%;
}


/*media queries*/

@media (max-width: 500px) {
    #myInput {
        width: 12em;
    }

    .fadeModal {
        margin: 0 1em;
        padding: 5em;
    }

    #title-img,
    #description-img {
        z-index: 20;
        position: absolute;
        color: #222326;
        font-size: .55em;
        font-weight: bold;
        font-family: "Gloria Hallelujah",cursive;
    }

     img {
         max-width: 100%;
         height: auto;
    }
     footer {
         margin: 0;
     }
    #play-btn {
        z-index: 20;
        position: absolute;
        color: #222326;
        top: 2%;
        right: 20%;
    }


}

@media (max-width: 300px) {
    .fadeModal {
        margin: 0 1em;
        padding: 2em;
    }

    footer {
        margin: 0;
    }

    #play-btn {
        z-index: 20;
        position: absolute;
        color: #222326;
        top: 2%;
        right: 20%;
    }

}

@media (max-height: 200px) {
    #fade {
        position: relative;
        display: none;
        max-width: 100%;
        height: auto;
        background: rgba(0,0,0,0.5);
        z-index: 10;
    }
    .fadeModal {
        margin: 2em;
        padding: 2em;
    }
    img {
        max-width: 100%;
        height: auto;
    }

    #title-img,
    #description-img {
        z-index: 20;
        position: absolute;
        color: #222326;
        font-size: .35em;
        font-weight: bold;
        font-family: "Gloria Hallelujah",cursive;
    }

}




